@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Cinzel Decorative';
    src: url('/fonts/CinzelDecorative-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }